    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About UMiami ASME</h2>
              <br/>
                <table style="width:100%">
                    <tr>
                        <th>Position</th>
                        <th>Name</th> 
                        <th>Email</th>
                    </tr>
                    <tr>
                        <td>President</td>
                        <td>Joi Wu</td> 
                        <td>mailto:jwu8590@miami.edu</td>
                    </tr>
                    <tr>
                        <td>Vice President</td>
                        <td>Mike Tenuta</td> 
                        <td>mailto:tenuta.m@miami.edu</td>
                    </tr>
                    <tr>
                        <td>Treasurer</td>
                        <td>Jacob Morris</td> 
                        <td>mailto:Jaymo2014@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Public Relations Chair</td>
                        <td>Swati Narasimhan</td> 
                        <td>mailto:sxn161@miami.edu</td>
                    </tr>
                    <tr>
                        <td>Secretary</td>
                        <td>Sarah Dia</td> 
                        <td>mailto:sarah.dia@hotmail.com</td>
                    </tr>
                    <tr>
                        <td>Historian</td>
                        <td>Richard Delgado</td> 
                        <td>mailto:Rsd23@miami.edu</td>
                    </tr>
                    <tr>
                        <td>Build-It Committee</td>
                        <td>Zuri McFarlane</td> 
                        <td>mailto:Zxm55@miami.edu</td>
                    </tr>
                    <tr>
                        <td>Build-It Committee</td>
                        <td>Leo Costa</td> 
                        <td>mailto:Lac225@miami.edu</td>
                    </tr>
                    <tr>
                        <td>Project Manager</td>
                        <td>Zuri McFarlane</td> 
                        <td>mailto:Zxm55@miami.edu</td>
                    </tr>
                    <tr>
                        <td>Project Lead</td>
                        <td>Mike Tenuta</td> 
                        <td>mailto:tenuta.m@miami.edu</td>
                    </tr>
                </table>
                <br/>
              </div>
        </div>
    </section>
